.confirm_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.box {
    background: white;
    padding: 20px 25px;
    border-radius: 12px;
    text-align: center;
    min-width: 260px;
    max-width: 90%;
    font-size: 16px;
}
.confirm_actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.confirm_actions button {
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}