.request_list .no_requests {
    font-size: 18px;
    font-style: italic;
    color: #555;
    background-color: #f0fdf4;
    border-left: 4px solid #00c77b;
    padding: 10px 15px;
    border-radius: 8px;
    max-width: fit-content;
    margin: 20px auto 0 auto;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.request_list .no_requests:hover {
    background-color: #e6f7eb;
    transform: translateY(-2px);
}
